
button {
  border: 0;
  border-radius: 8px;
  background-color: #008CBA;
  color: white;
  cursor: pointer;
  user-select: none;
}

button:hover {
  background: #4490c8;
}

button:disabled {
  background: gray;
  cursor: default;
}

.header {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 2px solid #bbbbbb;
}

.header h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1;
  color: inherit;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 10px;
}

.navi {
  width: 100%;
      padding-bottom: 3px;
}

.navi_item {
  display: inline-block;
  padding-right: 5px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .header {
    padding-left: 0;
    padding-right: 0;
  }
}

.header p.small {
  font-size: 65%;
  font-weight: normal;
  line-height: 1;
  color: #999999;
  float: left;
  padding-right: 5px;
}
