.login-container {
  position: absolute;
  top: 5px;
  right: 10px;
}

.login-container .dropdown {
  text-align: center;
}

.login-container .formGroup {
  padding: 0;
}

.login-container .leftcell {
  width: 100px;
}

.login-container .dropdown-trigger {
  right: 0;
  font-size: 9px;
  border-radius: 4px;
  padding: 6px;
}
